<header class="site-header">

  <div class="load">
    <span class="play">{% include svg/play.html %}</span>
    <div class="loader">Loading...</div>
  </div>

  <div class="header-wrapper">

    <nav class="mobile-nav">
      <a href="/">Episodes</a>
      {% for page in site.pages %}
      {% unless page.exclude %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endunless %}
      {% endfor %}
      <a class="subscribe" href="#">RSS</a>
      <a class="subscribe" href="#">iTunes</a>
      <div class="border-menu">
        <span></span>        
        <p>MENU</p>
      </div>
    </nav>

    <nav class="site-nav">
        <a class="page-link" href="/">Episodes</a>
        {% for page in site.pages %}
          {% unless page.exclude %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endunless %}
        {% endfor %}
        <a class="subscribe" href="http://simplecast.fm/podcasts/1379/rss">RSS</a>
        <a class="subscribe" href="#">iTunes</a>
    </nav>


  </div>

</header>

<h3 class="announcement">Next Week's Film To Watch: <a href="{{site.nextMovieLink}}" target="_blank">{{site.nextMovie}}</a></h3>
