<header class="site-header">

  <div class="load">
    <span class="play">{% include svg/play.html %}</span>
    <div class="loader">Loading...</div>
  </div>

  <div class="header-wrapper">

    <nav class="site-nav">
        <a class="page-link" href="/">Episodes</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="page-link subscribe" href="#">Subscribe</a>
    </nav>

  </div>

</header>

<h3 class="announcement">Next Week's Film To Watch: <a href="{{site.nextMovieLink}}" target="_blank">{{site.nextMovie}}</a></h3>
