<h3>Your Hosts:</h3>

<div class="host">
  <h2>Jeffrey Herrera</h2>
  <p class="host-description">

  </p>
</div>

<div class="host">
  <h2>Carlos Renaso</h2>
  <p class="host-description">
    Carlos Renaso is a New York City filmmaker currently working on developing his feature film, Uptown Roamers.  A graduate of Hunter College's film program, you can check out his short film work on https://vimeo.com/carlosrenaso and lobstersquad.tumblr.com, where he posts daily write-ups on his favorite films.  When he's not thinking of ways to conquer the film industry, he's writing Seinfeld-esque jokes because he foolishly believes he's funny.  
  </p>
</div>

<div class="host">
  <h2>Jeffrey Herrera</h2>
  <p class="host-description">

  </p>
</div>
