<div class="your-hosts">

  <h3>The Crew:</h3>

  <div class="host">
    <h2>Jeffrey Herrera</h2>
    <p class="host-description">
        Jeffrey Herrera is a graphic designer living in New York City with a passion for all things visual. A minimalist at heart, his opinons are informed by efficiency of message and form. Being an art history buff, he makes connections between moments in time to offer a more in-depth look at references. When he's not designing, making music or watching films, he can be found playing with cats, eating tacos or baking cookies.
    </p>
    <ul class="social">
      <li>
        <a href="http://www.twitter.com/isthatjeff" target="_blank">Twitter</a>
      </li>
      <li class="bullet">
        <p>&#8226;</p>
      </li>
      <li>
        <a href="http://www.instagram.com/_isthatjeff" target="_blank">Instagram</a>
      </li>
      <li class="bullet">
        <p>&#8226;</p>
      </li>
      <li>
        <a href="http://www.pinterest.com/jeffreyherrera" target="_blank">Pinterest</a>
      </li>
      <li class="bullet">
        <p>&#8226;</p>
      </li>
      <li>
        <a href="http://www.jeffreyherrera.com" target="_blank">Website</a>
      </li>
    </ul>
  </div>

  <div class="host omega">
    <h2>Carlos Renaso</h2>
    <p class="host-description">
      Carlos Renaso, also known as "Eddy B" by close friends, is a New York City filmmaker currently working on developing his feature film, Uptown Roamers.  A graduate of Hunter College's film program, you can check out his short film work on Vimeo and his blog on his website link below, where he posts daily write-ups on his favorite films.  When he's not thinking of ways to conquer the film industry, he's writing Seinfeld-esque jokes because he foolishly believes he's funny.
    </p>
    <ul class="social">
      <li>
        <a href="https://vimeo.com/carlosrenaso" target="_blank">Vimeo</a>
      </li>
      <li class="bullet">
        <p>&#8226;</p>
      </li>
      <li>
        <a href="http://www.twitter.com/wakeupmrrenaso" target="_blank">Twitter</a>
      </li>
      <li class="bullet">
        <p>&#8226;</p>
      </li>
      <li>
        <a href="http://lobstersquad.tumblr.com/" target="_blank">Website</a>
      </li>
    </ul>
  </div>

  <div class="host">
    <h2>Carlos Salcedo</h2>
    <p class="host-description">
    </p>
  </div>

  <div class="host omega">
    <h2>Christian Arango<span> - Administration</span></h2>
    <p class="host-description">
    </p>
  </div>

</div>
