.contact_form {
  
  .input-group {
    position: relative;
    margin-bottom: 30px;
  }

  label {
    position: absolute;
    z-index: 2;
    color: $brand-color;
    // background-color: white;
    display: block;
    width: 100%;
    padding: 13px 10px;
    pointer-events: none;
  }

  input {
    // border: none;
    border: 1px solid $brand-color;
    width: 100%;
    position: relative;
    clear: both;
    display: block;
    // height: 30px;
    padding: 10px 10px 10px 65px;
    font-size: em(28px);
    font-weight: light;
    background-color: transparent;
    &:focus{
      outline: none;
    }
    autofill {
      background-color: transparent;
    }
    -webkit-autofill {
      background-color: transparent;
    }
  }

  textarea {
    border: 1px solid $brand-color;
    border-top: none;
    width: 100%;
    height: 300px;
    padding: 20px 10px 10px 10px;
    font-size: em(20px);
    background-color: transparent;
    margin-top: 40px;
    &:focus{
      outline: none;
    }
  }

  .message-label {
    margin-top: 5px;
    z-index: 2;
    border: none;
    border-top: 1px solid $brand-color;
    border-left: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    top: 0;
  }

  button {
    background-color: $brand-color;
    border: none;
    padding: 30px 50px;
    color: white;
    font-size: em(18px);
    font-weight: 300;
  }

  .thank-you {
    margin: 0 auto;
  }

}
