// HERO IMAGE

.hero {
  width: 100%;
  display: block;
  padding: 80px 0;
  position: relative;
  top: -30px;
  @media screen and (max-width: 700px) {
    padding: 50px 20px;
  }
}

.hero-title {
  @include span-columns(4);
  text-align: right;
  margin-top: 23px;
  svg {
    height: 290px;
    width: auto;
  }
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    text-align: right;
    margin-bottom: 40px;
  }
}

.hero-text {
  @include span-columns(5);
  @include shift();
  @include omega();
  color: white;
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    @include shift(0);
    text-align: right;
  }
}

.hero-latest {
  p {
    font-size: em(12px);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    top: 15px;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include linear-gradient(to top, rgba(black, 0.7), rgba(black, 0));
  background-image: url(/img/latest.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba($brand-vibrant, 0.9);
  background-blend-mode: multiply;
  z-index: -1;
}

// EPISODE LIST

.post, .home {
  margin-top: 50px;
}

.page-heading {
  font-size: 3em;
  color: $brand-color;
  @media screen and (max-width: 700px) {
    font-size: 2em;
  }
}

.post-list {
  @include outer-container;
  li {
    @include span-columns(6);
    @include omega(2n);
    border: 5px solid $brand-color;
    color: white;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    .post-link {
      line-height: 1.2;
      margin-bottom: 10px;
    }
    .post-meta {
      @include span-columns(12);
      @include omega;
    }
    .episode-text {
      margin: 30px;
    }
    @media screen and (max-width: 800px) {
      @include span-columns(12);
      @include omega;
      height: auto;
    }
  }
}

.post-excerpt {
  color: black;
  font-size: em(10px);
  letter-spacing: 0.01em;
}

.announcement {
  width: 100%;
  @include omega;
  display: block;
  background-color: $text-color;
  padding: 10px;
  margin: 0 auto;
  color: rgba(white, 0.7);
  text-align: center;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: 500;
  letter-spacing: 0.1em;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: $brand-color;
    }
  }
  @media screen and (max-width: 700px) {
    font-size: em(10px);
    font-weight: 400;
  }
}

.pagination {
  @include span-columns(10);
  @include shift;

  @media screen and (max-width: 700px) {
    @include span-columns(12);
    @include shift(0);
  }
}

.next-prev-links {
  @include span-columns(6);
  border: 5px solid $brand-color;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $brand-color;
  text-align: center;
  margin-top: 50px;

  @media screen and (max-width: 700px) {
    font-size: .7em;
    height: 75px;
    margin-top: 50px;
    font-weight: 400;
  }

  &:hover {
    background-color: lighten($brand-color, 2%);
    border: 5px solid lighten($brand-color, 2%);
    color: white;
  }
}

.prev {
  float: left;
}

.next {
  float: right;
}

.credits {
  font-size: em(12px);
  margin-top: 50px;
  font-weight: 400;
}

// SINGLE EPISODE

.episode_text {
  font-size:  em(24px);
  line-height: 1.3;
  padding-right: 100px;
  margin-bottom: 50px;
  @media screen and (max-width: 700px) {
  padding-right: 0;
  }
}

// DISQUS

#disqus_thread {
  margin-top: 50px;
  @include span-columns(10);
  @include shift;
}


// NEWSLETTER

.newsletter {
  text-align: center;
  h2 {
    color: $brand-color;
    font-size: em(25px);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;
  }
}

.form_display {

  @include span-columns(8);
  @include shift(2);
  // background-color: pink;
  float: none;
  border: solid 1px $brand-color;
  display: flex;
  margin-bottom: 50px;

  @media screen and (max-width: 800px) {
    display: block;
    @include span-columns(12);
    @include shift(0);
  }

  input[type="submit"] {

      flex: 1;
      background-color: $brand-color;
      width: 120px;
      border: none;
      height: 50px;
      font-size: em(14px);
      color: white;
      letter-spacing: 0.02em;

      &:focus {
        outline: 0;
      }
      &:hover {
        background-color: lighten($brand-color, 5%);
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }

    }

  .mc-field-group {
    position: relative;
    flex: 2;

    &:first-child {
      border-right: solid 1px $brand-color;
      @media screen and (max-width: 800px) {
        border-right: none;
        border-bottom: solid 1px $brand-color;
      }
    }

    input {
      position: relative;
      border: 0;
      background: none;
      padding: 20px 5px 5px 5px;
      font-size: em(22px);
      font-weight: 300;
      display: block;
      height: 50px;
      width: 100%;

      &:focus {
        outline: 0;
      }

    }

    label {
      position: absolute;
      z-index: 2;
      font-size: em(12px);
      font-weight: 400;
      color: $brand-color;
      left: 5px;
    }

  }

}
