// HERO IMAGE

.hero {
  width: 100%;
  display: block;
  padding: 80px 0;
  position: relative;
  top: -30px;
  @media screen and (max-width: 700px) {
    padding: 50px 20px;
  }
}

.hero-title {
  @include span-columns(4);
  text-align: right;
  svg {
    height: 290px;
    width: auto;
  }
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    text-align: right;
    margin-bottom: 40px;
  }
}

.hero-text {
  @include span-columns(5);
  @include shift();
  @include omega();
  color: white;
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    @include shift(0);
    text-align: right;
  }
}

.hero-latest {
  p {
    font-size: em(12px);
    font-weight: 700;
    letter-spacing: 0.1;
    text-transform: uppercase;
    position: relative;
    top: 15px;
  }
  .player {
    position: relative;
    top: -10px;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include linear-gradient(to top, rgba(black, 0.7), rgba(black, 0));
  background-image: url(/img/latest.jpg);
  background-size: cover;
  background-color: rgba($brand-vibrant, 0.9);
  background-blend-mode: multiply;
  z-index: -1;
}

// EPISODE LIST

.post, .home {
  margin-top: 50px;
}

.page-heading {
  font-size: 3em;
  color: $brand-color;
  @media screen and (max-width: 700px) {
    font-size: 2em;
  }
}

.post-list {
  @include outer-container;
  li {
    @include span-columns(6);
    @include omega(2n);
    border: 5px solid $brand-color;
    color: white;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    .post-meta {
      @include span-columns(12);
      @include omega;
    }
    .episode-text {
      margin: 30px;
    }
    @media screen and (max-width: 800px) {
      @include span-columns(12);
      @include omega;
      height: auto;
    }
  }
}

.post-excerpt {
  color: black;
  font-size: em(10px);
  letter-spacing: 0.01em;
}

.announcement {
  width: 100%;
  @include omega;
  display: block;
  background-color: $text-color;
  padding: 10px;
  margin: 0 auto;
  color: rgba(white, 0.7);
  text-align: center;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: 500;
  letter-spacing: 0.1em;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: $brand-color;
    }
  }
}

.pagination {
  @include span-columns(10);
  @include shift;
}

.next-prev-links {
  @include span-columns(6);
  border: 5px solid $brand-color;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $brand-color;
  text-align: center;
  margin-top: 100px;

  @media screen and (max-width: 700px) {
    font-size: .7em;
    height: 75px;
    margin-top: 50px;
  }

  &:hover {
    background-color: lighten($brand-color, 2%);
    border: 5px solid lighten($brand-color, 2%);
    color: white;
  }
}
