// HERO IMAGE

.hero {
  width: 100%;
  display: block;
  padding: 50px 0;
  position: relative;
  top: -30px;
  @media screen and (max-width: 700px) {
    padding: 50px 20px;
  }
}

.hero-title {
  @include span-columns(4);
  text-align: right;
  svg {
    height: 290px;
    width: auto;
  }
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    text-align: right;
    margin-bottom: 40px;
  }
}

.hero-text {
  @include span-columns(5);
  @include shift();
  @include omega();
  color: white;
  @media screen and (max-width: 700px) {
    @include span-columns(12);
    @include shift(0);
    text-align: right;
  }
}

.hero-latest {
  p {
    font-size: em(12px);
    font-weight: 700;
    letter-spacing: 0.1;
    text-transform: uppercase;
    position: relative;
    top: 15px;
  }
  .player {
    position: relative;
    top: -10px;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include linear-gradient(to top, rgba(black, 0.7), rgba(black, 0));
  background-image: url(/img/latest.jpg);
  background-size: cover;
  background-color: rgba($brand-vibrant, 0.9);
  background-blend-mode: multiply;
  z-index: -1;
}

// EPISODE LIST

.post, .home {
  margin-top: 50px;
}

.page-heading {
  font-size: 3em;
  color: $brand-color;
}

.post-list {
  @include outer-container;
  li {
    @include span-columns(6);
    @include omega(2n);
    border: 5px solid $brand-color;
    background-color: $grey-color-light;
    padding: 50px;
    color: white;
  }
}
