// HERO IMAGE

.hero
{
    position: relative;
    top: -30px;

    display: block;

    overflow: hidden;

    width: 100%;
    padding: 80px 0;
    @media screen and (max-width: 700px)
    {
        padding: 50px 20px;
    }
}

.hero-title
{
    margin-top: 23px;

    text-align: right;

    @include span-columns(4);
    svg
    {
        width: auto;
        height: 290px;
    }
    @media screen and (max-width: 700px)
    {
        margin-bottom: 40px;

        text-align: right;

        @include span-columns(12);
    }
}

.hero-text
{
    color: white;

    @include span-columns(5);
    @include shift();
    @include omega();
    @media screen and (max-width: 700px)
    {
        text-align: right;

        @include span-columns(12);
        @include shift(0);
    }
}

.hero-latest
{
    p
    {
        font-size: em(12px);
        font-weight: 700;

        position: relative;
        top: 15px;

        letter-spacing: .1em;
        text-transform: uppercase;
    }
    a
    {
        text-decoration: underline;

        color: white;
        &:hover
        {
            color: $grey-color;
        }
    }
}

.hero-overlay
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-blend-mode: multiply;
    background-color: rgba($brand-vibrant, .9);
    background-image: url(/img/latest.jpg);
    background-attachment: fixed;
    background-size: cover;

    // @include linear-gradient(to top, rgba(black, .7), rgba(black, 0));
}

// EPISODE LIST

.post,
.home
{
    margin-top: 50px;
}

.page-heading
{
    font-size: 3em;

    color: $brand-color;
    @media screen and (max-width: 700px)
    {
        font-size: 2em;
    }
}

.post-list
{
    @include outer-container;
    li
    {
        position: relative;

        height: 320px;

        color: white;
        border: 5px solid $brand-color;

        @include span-columns(6);
        @include omega(2n);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        &:hover
        {
            .episode-bg
            {
                top: 0;

                background-color: rgba($brand-vibrant, 1);

                background-blend-mode: multiply;
            }
            .post-excerpt,
            .post-meta
            {
                color: white;
            }
            .post-link,
            a
            {
                text-decoration: underline;

                color: white;
                &:hover
                {
                    color: $grey-color;
                }
            }
        }
        .episode-bg
        {
            position: absolute;
            z-index: -1;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .post-link
        {
            line-height: 1.2;

            margin-bottom: 10px;
        }
        .post-meta
        {
            @include span-columns(12);
            @include omega;
        }
        .episode-text
        {
            margin: 30px;
        }
        @media screen and (max-width: 800px)
        {
            height: auto;

            @include span-columns(12);
            @include omega;
        }
    }
}

.post-excerpt
{
    font-size: em(10px);

    letter-spacing: .01em;

    color: black;
}

.announcement
{
    font-size: em(14px);
    font-weight: 500;

    display: block;

    width: 100%;
    margin: 0 auto;
    padding: 10px;

    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: rgba(white, .7);
    background-color: $text-color;

    @include omega;
    a
    {
        text-decoration: underline;

        color: white;
        &:hover
        {
            color: $brand-color;
        }
    }
    @media screen and (max-width: 700px)
    {
        font-size: em(10px);
        font-weight: 400;
    }
}

.pagination
{
    @include span-columns(10);
    @include shift;
    @media screen and (max-width: 700px)
    {
        @include span-columns(12);
        @include shift(0);
    }
}

.next-prev-links
{
    margin-top: 50px;
    padding: 30px 10px;

    text-align: center;

    color: $brand-color;
    border: 5px solid $brand-color;

    @include span-columns(6);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @media screen and (max-width: 700px)
    {
        font-size: .7em;
        font-weight: 400;

        height: 75px;
        margin-top: 50px;
    }
    &:hover
    {
        color: white;
        border: 5px solid lighten($brand-color, 2%);
        background-color: lighten($brand-color, 2%);
    }
}

.prev
{
    float: left;
}

.next
{
    float: right;
}

.credits
{
    font-size: em(12px);
    font-weight: 400;

    margin-top: 50px;
}

// SINGLE EPISODE

.episode_text
{
    font-size: em(23px);
    line-height: 2;

    margin-bottom: 50px;
    padding-right: 100px;
    @media screen and (max-width: 700px)
    {
        padding-right: 0;
    }
}

.share
{
  span {
    color: $grey-color;
  }
  margin: -30px 0 60px;
}

.hiddenImage
{
  display: none;  
}

// DISQUS

#disqus_thread
{
    margin-top: 60px;

    @include span-columns(10);
    @include shift;
}


// NEWSLETTER

.newsletter
{
    text-align: center;
    h2
    {
        font-size: em(25px);
        font-weight: 700;
        line-height: 1.2;

        margin-top: 70px;

        letter-spacing: .05em;
        text-transform: uppercase;

        color: $brand-color;
    }
}

.form_display
{
    // background-color: pink;
    float: none;

    margin-bottom: 50px;

    border: solid 1px $brand-color;

    @include span-columns(8);
    @include shift(2);
    @include display(flex);
    @media screen and (max-width: 800px)
    {
        display: block;

        @include span-columns(12);
        @include shift(0);
    }
    input[type='submit']
    {
        font-size: em(14px);

        width: 120px;
        height: 50px;

        letter-spacing: .02em;

        color: white;
        border: none;
        -webkit-border-radius: 0;
        background-color: $brand-color;

        @include flex(1);
        -webkit-appearance: none;
           -moz-appearance: none;
        &:focus
        {
            outline: 0;
        }
        &:hover
        {
            background-color: lighten($brand-color, 5%);
        }
        @media screen and (max-width: 800px)
        {
            width: 100%;
        }
    }
    .mc-field-group
    {
        position: relative;

        @include flex(2);
        &:first-child
        {
            border-right: solid 1px $brand-color;
            @media screen and (max-width: 800px)
            {
                border-right: none;
                border-bottom: solid 1px $brand-color;
            }
        }
        input
        {
            font-size: em(22px);
            font-weight: 300;

            position: relative;

            display: block;

            width: 100%;
            height: 50px;
            padding: 20px 5px 5px 5px;

            border: 0;
            background: none;
            &:focus
            {
                outline: 0;
            }
        }
        label
        {
            font-size: em(12px);
            font-weight: 400;

            position: absolute;
            z-index: 2;
            left: 5px;

            color: $brand-color;
        }
    }
}
