.page-content {
  min-height: 100%;
  margin-bottom: -250px;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    margin-bottom: -250px;
  }
}
.page-content:after {
  content: "";
  display: block;
  height: 250px;
  @media screen and (max-width: 700px) {
    height: 290px;
  }
}

.site-footer {
    padding: 50px 0;
    background-color: $brand-color;
    height: 250px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 700px) {
      height: 250px;
    }
}

.footer-text {
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  color: #fff;
  letter-spacing: 0.01em;
  font-size: em(24px);
  a {
    text-decoration: underline;
    color: #fff;
    &:hover {
      color: $text-color;
    }
  }
  @media screen and (max-width: 700px) {
    font-size: em(14px);
    @include span-columns(10);
    @include shift;
  }
}

.footer-wrapper {
}
