.page-content {
  min-height: 100%;
  margin-bottom: -340px;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    margin-bottom: -290px;
  }
}
.page-content:after {
  content: "";
  display: block;
  height: 340px;
  @media screen and (max-width: 700px) {
    height: 290px;
  }
}

.site-footer {
    padding: 50px 0;
    background-color: $brand-color;
    height: 250px;
    @media screen and (max-width: 700px) {
      height: 200px;
    }
}

.site-footer h1 {
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  color: #fff;
  letter-spacing: 0.01em;
  display: block;
  a {
    text-decoration: underline;
    color: #fff;
  }
  @media screen and (max-width: 700px) {
    font-size: em(18px);
  }
}
