.home, .header-wrapper, .footer-wrapper, .hero-wrapper, .post {
  @include outer-container;
  @media screen and (max-width: 700px) {
    @include outer-container;
    padding: 0 20px;
  }
  @media screen and (min-width: 701px) and (max-width: 1150px) {
    margin: 0 20px;
  }
}

.home, .post {
  padding-bottom: 100px;
}



/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $brand-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link, .subscribe {
        color: #FFF;
        line-height: $base-line-height;
        letter-spacing: 0.01em;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    @media screen and (max-width: 700px) {
      display: none;
    }
}

.mobile-nav {
  a {
    color: white;
    font-size: em(24px);
    padding: 20px;
    width: 100%;
    display: block;
    text-align: center;
  }
  p {
    clear: both;
    display: block;
    font-weight: 400;
    font-size: em(12px);
    letter-spacing: 0.25em;
    color: white;
    margin-top: 10px;
  }
  text-align: center;
  margin-top: -420px;
  display: none;
  @include transition(all 0.6s ease-in-out);

  @media screen and (max-width: 700px) {
    display: block;
  }
}

.border-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  margin-left: -25px;
  top: 0;
  margin-top: 40px;
  cursor: pointer;
  span, span:before, span:after{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: white;
    position: relative;
  }
  span:before {
    top: 10px;
  }
  span:after {
    bottom: 15px;
  }

}

.menu-open {
  margin-top: 0;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    @include span-columns(10);
    @include shift;

    @media screen and (max-width: 700px) {
      @include span-columns(12);
      @include shift(0);
    }
}

.post-title {
    margin-bottom: $spacing-unit;
    line-height: 1;
    font-size: 3em;
    color: $brand-color;
    position: relative;
    left: -4px;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    @include span-columns(10);
    @include shift;

    @media screen and (max-width: 700px) {
      @include span-columns(12);
      @include shift(0);
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
