.load {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $brand-color;
  background-size: cover;
  z-index: 2000;
  display: block;
  padding: 80px;
  margin-top: 0;
  opacity: 1;
  @include transition(all 300ms ease-in-out 400ms);
  .play {
    svg {
      width: 150px;
    }
  }
}

.load-finished {
  margin-top: 5vh;
  pointer-events: none;
  opacity: 0;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.5em;
  height: 0.8em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  float: left;
  left: 200px;
  top: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2.5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2.5em;
  }
}
