html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #304FFE;
  text-decoration: none; }
  a:visited {
    color: #0123e0; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto; }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.home, .header-wrapper, .footer-wrapper, .hero-wrapper, .post {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .home::after, .header-wrapper::after, .footer-wrapper::after, .hero-wrapper::after, .post::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 700px) {
    .home, .header-wrapper, .footer-wrapper, .hero-wrapper, .post {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px; }
      .home::after, .header-wrapper::after, .footer-wrapper::after, .hero-wrapper::after, .post::after {
        clear: both;
        content: "";
        display: table; } }

.home, .post {
  padding-bottom: 100px; }

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  background-color: #304FFE;
  position: relative; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.01em; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  line-height: 1;
  font-size: 3em;
  color: #304FFE;
  text-transform: lowercase; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.hero {
  width: 100%;
  display: block;
  padding: 80px 0;
  position: relative;
  top: -30px; }
  @media screen and (max-width: 700px) {
    .hero {
      padding: 50px 20px; } }

.hero-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: right; }
  .hero-title:last-child {
    margin-right: 0; }
  .hero-title svg {
    height: 290px;
    width: auto; }
  @media screen and (max-width: 700px) {
    .hero-title {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: right;
      margin-bottom: 40px; }
      .hero-title:last-child {
        margin-right: 0; } }

.hero-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%;
  margin-right: 0;
  color: white; }
  .hero-text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .hero-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      text-align: right; }
      .hero-text:last-child {
        margin-right: 0; } }

.hero-latest p {
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.1;
  text-transform: uppercase;
  position: relative;
  top: 15px; }
.hero-latest .player {
  position: relative;
  top: -10px; }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.7), transparent);
  background-image: url(/img/latest.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 210, 0.9);
  background-blend-mode: multiply;
  z-index: -1; }

.post, .home {
  margin-top: 50px; }

.page-heading {
  font-size: 3em;
  color: #304FFE; }
  @media screen and (max-width: 700px) {
    .page-heading {
      font-size: 2em; } }

.post-list {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .post-list::after {
    clear: both;
    content: "";
    display: table; }
  .post-list li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    border: 5px solid #304FFE;
    background-color: #e8e8e8;
    padding: 50px;
    color: white; }
    .post-list li:last-child {
      margin-right: 0; }
    .post-list li:nth-child(2n) {
      margin-right: 0; }
    .post-list li:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 700px) {
      .post-list li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .post-list li:last-child {
          margin-right: 0; }
        .post-list li:nth-child(0) {
          margin-right: 0; } }

.page-content {
  min-height: 100%;
  margin-bottom: -300px;
  overflow: hidden; }

.page-content:after {
  content: "";
  display: block;
  height: 300px; }

.site-footer {
  padding: 50px 0;
  background-color: #304FFE;
  height: 250px; }

footer h1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  text-align: center;
  color: #fff;
  letter-spacing: 0.01em;
  position: relative; }
  footer h1:last-child {
    margin-right: 0; }
  footer h1 a {
    text-decoration: underline;
    color: #fff; }

.audioplayer {
  height: 2.5em;
  /* 40 */
  color: #222;
  position: relative;
  z-index: 1;
  background: -webkit-linear-gradient(white 10%, #bbb 90%);
  background: linear-gradient(to   , #bbb 90%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.audioplayer-mini {
  width: 2.5em;
  /* 40 */
  margin: 0 auto; }

.audioplayer > div {
  position: absolute; }

.audioplayer-playpause {
  width: 2.5em;
  /* 40 */
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0; }

.audioplayer-mini .audioplayer-playpause {
  width: 100%; }

.audioplayer-playpause:hover,
.audioplayer-playpause:focus {
  background: -webkit-linear-gradient(white, #bbb);
  background: linear-gradient(white, #bbb); }

.audioplayer-playpause a {
  display: block; }

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  /* 8 */
  border-right: none;
  border-left-color: #304FFE;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.25em;
  /* 8 4 */ }

.audioplayer-playing .audioplayer-playpause a {
  width: 0.75em;
  /* 12 */
  height: 0.75em;
  /* 12 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.375em 0 0 -0.375em;
  /* 6 */ }

.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
  width: 40%;
  height: 100%;
  background-color: #304FFE;
  content: '';
  position: absolute;
  top: 0; }

.audioplayer-playing .audioplayer-playpause a:before {
  left: 0; }

.audioplayer-playing .audioplayer-playpause a:after {
  right: 0; }

.audioplayer-time {
  width: 4.375em;
  /* 70 */
  height: 100%;
  line-height: 2.375em;
  /* 38 */
  text-align: center;
  z-index: 2;
  top: 0; }

.audioplayer-time-current {
  left: 2.5em;
  /* 40 */ }

.audioplayer-time-duration {
  right: 2.5em;
  /* 40 */ }

.audioplayer-novolume .audioplayer-time-duration {
  border-right: 0;
  right: 0; }

.audioplayer-bar {
  height: 0.875em;
  /* 14 */
  background-color: #222;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  right: 6.875em;
  /* 110 */
  left: 6.875em;
  /* 110 */
  margin-top: -0.438em;
  /* 7 */ }

.audioplayer-novolume .audioplayer-bar {
  right: 4.375em;
  /* 70 */ }

.audioplayer-bar div {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.audioplayer-bar-loaded {
  background-color: #828282;
  z-index: 1; }

.audioplayer-bar-played {
  background: #304FFE;
  z-index: 2; }

.audioplayer-volume {
  width: 2.5em;
  /* 40 */
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0; }

.audioplayer-volume:hover,
.audioplayer-volume:focus {
  background-color: #bbb; }

.audioplayer-volume-button {
  width: 100%;
  height: 100%; }

.audioplayer-volume-button a {
  width: 0.313em;
  /* 5 */
  height: 0.375em;
  /* 6 */
  background-color: #304FFE;
  display: block;
  position: relative;
  z-index: 1;
  top: 40%;
  left: 35%; }

.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
  content: '';
  position: absolute; }

.audioplayer-volume-button a:before {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  /* 8 */
  border-left: none;
  border-right-color: #304FFE;
  z-index: 2;
  top: 50%;
  right: -0.25em;
  margin-top: -0.5em;
  /* 8 */ }

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
  width: 0.313em;
  /* 5 */
  height: 0.313em;
  /* 5 */
  border-width: 0.25em 0.25em 0 0;
  /* 4 */
  left: 0.563em;
  /* 9 */
  top: -0.063em;
  /* 1 */
  -webkit-border-radius: 0 0.938em 0 0;
  /* 15 */
  -moz-border-radius: 0 0.938em 0 0;
  /* 15 */
  border-radius: 0 0.938em 0 0;
  /* 15 */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.audioplayer-volume-adjust {
  height: 6.25em;
  /* 100 */
  cursor: default;
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  background: #bbb;
  background: -webkit-linear-gradient(white, #bbb);
  background: linear-gradient(white, #bbb);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  opacity: 0; }

.audioplayer-volume:hover .audioplayer-volume-adjust {
  top: auto;
  bottom: 100%; }

.audioplayer-volume-adjust > div {
  width: 40%;
  height: 80%;
  background-color: #bbb;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 30% auto 0; }

.audioplayer-volume-adjust div div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #304FFE; }

.audioplayer-novolume .audioplayer-volume {
  display: none; }

.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
  -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  transition: color .25s ease, background-color .25s ease, opacity .5s ease; }

.load {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #304FFE;
  z-index: 2000;
  display: block;
  padding: 80px;
  margin-top: 0;
  -webkit-transition: all 700ms ease-in 400ms;
  -moz-transition: all 700ms ease-in 400ms;
  transition: all 700ms ease-in 400ms; }
  .load .play svg {
    width: 150px; }

.load-finished {
  margin-top: -300%;
  pointer-events: none; }

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.5em;
  height: 0.8em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader {
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  float: left;
  left: 200px;
  top: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 2em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2.5em; } }
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 2em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 2.5em; } }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
